<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">

    <persistence-unit name="jpabook"> <!-- db하나에 영속성 유닛 하나 -->
        <properties>
            <!-- 필수 속성 -->
            <property name="javax.persistence.jdbc.driver" value="org.h2.Driver"/>
            <property name="javax.persistence.jdbc.user" value="sa"/>
            <property name="javax.persistence.jdbc.password" value=""/>
            <property name="javax.persistence.jdbc.url" value="jdbc:h2:tcp://localhost/~/test"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect" />
            <property name="packagesToScan" value="mytest" />

            <!-- 옵션 -->
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.format_sql" value="true" />
            <property name="hibernate.use_sql_comments" value="true" />
            <property name="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy" /> <!-- 카멜표기법->언더스코어로 자동변환 -->
            <!-- 키생성 전략을 사용하기위해선 반드시 설정. @GeneratedValue -->
            <property name="hibernate.id.new_generator_mappings" value="true" />

            <property name="hibernate.hbm2ddl.auto" value="create" /> <!-- 테이블 자동생성 -->
        </properties>
    </persistence-unit>

</persistence>